#module_list{margin-left:4px}
.modules{float:left; width:80px; height:80px; margin:0px; border:1px solid #acc6e9; background:#e8f5fe}
.m_title{height:20px; line-height:20px; background:#afc6e9}
#loader{height:20px; text-align:center}
