#module_list{margin-left:4px}
.modules{float:left; width:100px; height:80px; margin:0.5px; border:1px solid #acc6e9; 
 background:#e8f5fe}
.m_title{height:24px; line-height:24px; background:#afc6e9}
#loader{height:24px; text-align:center}
